<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <div 
                        class="bn bg-img hvr-glow d-block" 
                        style="background-image: url('./../../../assets/images/bn-1.jpg');" 
                        matRipple></div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#">
                            <div 
                                class="bn-2 bg-img hvr-glow d-block" 
                                style="background-image: url('./../../../assets/images/bn-2.jpg');" 
                                matRipple></div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <div 
                                class="bn-2 bg-img hvr-glow d-block" 
                                style="background-image: url('./../../../assets/images/bn-3.jpg');" 
                                matRipple></div>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="#">
                            <div 
                                class="bn-2 bn-3 bg-img hvr-glow d-block" 
                                style="background-image: url('./../../../assets/images/bn-4.jpg');" 
                                matRipple></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>