<section class="offer g-img" style="background-image: url('./../../../assets/images/offer.jpg');">
    <div class="offer-content">
        <h3 class="pre-title">
            <span>
                توصيل مجاني
            </span>
        </h3>
        <h2 class="section-title">بيتزا مارجيريتا</h2>
        <div class="product-price">
            <span class="price">
                <span class="currency">LE</span>
                99
                <span class="decimals">99</span>
            </span>
        </div>
        <div class="add-cart">
            <app-add-cart-btn></app-add-cart-btn>
        </div>
    </div>
</section>