<section class="qualiy text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="quality-wrapper">
                    <div class="quality-icon">
                        <img src="./../../../assets/images/icons/icon.png" alt="icon" />
                    </div>
                    <div class="quality-label">
                        <h4>أفضل جودة</h4>
                        <p>
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="quality-wrapper">
                    <div class="quality-icon">
                        <img src="./../../../assets/images/icons/icon.png" alt="icon" />
                    </div>
                    <div class="quality-label">
                        <h4>أفضل جودة</h4>
                        <p>
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="quality-wrapper">
                    <div class="quality-icon">
                        <img src="./../../../assets/images/icons/icon.png" alt="icon" />
                    </div>
                    <div class="quality-label">
                        <h4>أفضل جودة</h4>
                        <p>
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="quality-wrapper">
                    <div class="quality-icon">
                        <img src="./../../../assets/images/icons/icon.png" alt="icon" />
                    </div>
                    <div class="quality-label">
                        <h4>أفضل جودة</h4>
                        <p>
                            لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور
                        </p>
                    </div>
                </div>
            </div>                                    
        </div>
    </div>
</section>